body{
	width:100%;
	height:100%;
	background-color:#dddddd;
	margin:0;
	text-align:center;
	font-family:Arial,Helvetica,Tahoma,sans-serif;
}
p{
	padding: 1%;
	font-size: 0.8em;
}
strong{
	font-weight: bold;
}
#menuBar{
	height:5%;
	width:100%;
	background-color:#ffffff;
	padding-top: 4%;
	cursor:pointer;
}
#customerMenuBar, #customerMenuOptionsBack{
	height:10%;
	padding-top:1%;
	padding-bottom:1%;
	width:100%;
	background-color:#ffffff;
	box-shadow: inset 0px 2px 2px #dddddd;
	cursor:pointer;
}
/* #innerContainer{
	height:90vmin;
	width:95vmin;
} */
#customerMenuOptions, #customerContainer{
	width: 100%;
	height: 90%;
	transition: height 0.5s;
}
#customerContainer{
	background-color: #e8e8e8;
	padding: 2%;
	overflow-y:auto;
}
.infoHeader{
	border:solid 1px #757575;
	min-width: 90%;
	max-width:100%;
	text-align:left;
	margin: 0 2%;
	margin-bottom:1%;
}
.titleHeader{
	background-color:#757575;
	color: #ffffff;
	font-size: 1.2em;
	padding: 1%;
	width: 100%;
}
#georgeLogo{
	background-image: url(http://georgepackaging.com/images/george-logo.png);
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height:60px;
	
}
#customerBarHeader, #customerBarHeaderSelected{
	display: inline-block;
}
.customerMenuOptions{
	width: 100%;
	height:11.11%;
	padding-top:1%;
	padding-bottom:1%;
	background-color: #eeeeee;
	box-shadow: inset 0px 2px 2px #dddddd;
	cursor:pointer;
}
.customerMenuOptions:hover{
	background-color:#330066;
	color: #ffffff;
}
.customerMenuOptions, #customerMenuBar{
	font-size: 1em;
}