#productWrapper {
	
	position: relative;
	
	height: 100%;
	width: 100%;
	
	background-color: white;
	
	overflow-y: scroll;
	
}

#productCategory {
	
	margin-left: 50%;
	padding: 5px;
	
	width: 50%;
	
	text-align: right;
	
}


#productName {
	
	margin: 0 auto;
	padding: 5px;
	
	width: 90%;
	
	text-align: center;
	
	font-size: 20px;
	
}

#productImg {
	
	margin: 0 auto;
	
	height: 50%;
	width: 80%;
	
	background: url(../productImages/coatFront.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
		
}


#productPrice, #productReview {
	
	float: left;
	margin: 0%;
	padding: 5px;
		
}

#productPrice {
	
	padding-left: 20px;
	
	width: 30%;
	
}

#productReview {
	
	padding-right: 20px;
	
	width: 70%;
	
	text-align: right;
	
}

#productReview a {
	
	color: black;
	
}


#productOptions {
	
	clear: both;
	
	padding-top: 10px;
	
}

#productOptions .accordianSection {
	
	margin-bottom: 10px;
	
	height: 10vmin;
	
	background-color: lightgrey;
	
}

#productOptions .accordianSection .accordianContent {
	
	margin-top: 2vmin;
	
}

.disabled {
	
	opacity: 0.5;
	
}

.optionTitle {
	
	display: inline-block;
	margin-top: 1vmin;
	padding: 5px;
	
}

#selectedProductColor, #selectedProductSize, #selectedProductQuantity {
	
	font-size: 110%;
	font-weight: bold;
	
}

#productOptions .accordianSection .accordianArrow {
	
	display: inline-block;
	float: right;
	margin: 10px;
	
	transition-property: transform;
    transition-duration: 0.2s;
	transition-timing-function: linear;
	
}

#productOptions .accordianSection input[type=checkbox]:checked~.accordianArrow {
	
	-ms-transform: scaleY(-1); /* IE 9 */
    -webkit-transform: scaleY(-1); /* Chrome, Safari, Opera */
    transform: scaleY(-1);
	
}

.selectionOptions {
	
	float: left;
	
	height: 20vmin;
	width: 33.33%;
	
	color: white;
	background-color: grey;
	
	border: 1px solid dimgray;
	
	text-align: center;
	vertical-align: middle;
	line-height: 20vmin;
	
}

.selectionOptions:hover {
	
	background-color: dimgray;
	
}

.selectionOptions:nth-of-type(3n+1){
	
	clear: both;
	
}


#userOptions {
	
	margin-bottom: 2vmin;
	
	height: 20vmin;
	width: 100%;
	
}

#saveForLater, #addToBasket {
	
	display: block;
	float: left;
	height: 100%;
	width: 48%;
	margin: 1%;
	
	border: 1px solid darkgray;
	
	font-size: 130%;
	text-align: center;
	vertical-align: middle;
	
	cursor: pointer;
	
}

#saveForLater {
	
	padding-top: 7.5vmin;
	
	color: black;
	background-color: lightgray;
	
}

#addToBasket {
	
	padding-top: 5vmin;
	
	color: white;
	background-color: dimgray;
	
}


#deliveryIcons {
	
	margin-bottom: 5vmin;
	
	min-height: 40vmin;
	width: 100%;
	
}

#deliveryIcons ul {
	
	list-style: none;
	
}

#deliveryIcons ul li {
	
	float: left;
	
	margin: 1%;
	
	min-height: 20vmin;
	width: 48%;
	
	text-align: center;
	vertical-align: bottom;
	
}

#deliveryIcons ul li span {
	
	display: block;
	margin-top: 10vmin;
	
}

#collectMsg, #deliveryMsg, #internationalMsg, #returnsMsg {
	
	background-position: center top !important;
	background-origin: content-box !important;
	background-size: auto 50% !important;
	background-repeat: no-repeat !important;
	
	
}

#collectMsg {	background: url(../Images/clickandcollectIcon.png);	}

#deliveryMsg {	background: url(../Images/truckIcon.png);	}

#internationalMsg {	background: url(../Images/planeIcon.png);	}

#returnsMsg {	background: url(../Images/returnsIcon.png);	}


#productOtherSegments .accordianSection {
	
	margin-bottom: 10px;
	
	height: 10vmin;
	
	background-color: lightgrey;
	
}

#productOtherSegments .accordianSection .accordianArrow {
	
	display: inline-block;
	float: right;
	margin: 10px;
	
	transition-property: transform;
    transition-duration: 0.2s;
	transition-timing-function: linear;
	
}

#productOtherSegments .accordianSection input[type=checkbox]:checked~.accordianArrow {
	
	-ms-transform: scaleY(-1); /* IE 9 */
    -webkit-transform: scaleY(-1); /* Chrome, Safari, Opera */
    transform: scaleY(-1);
	
}

#productOtherSegments .accordianSection input[type=checkbox]:checked~ .accordianContent {
	
	padding: 10px;
	
	max-height: 100vmin !important;
	
	background-color: white;
	
}






/*			Accordion Mechanism			*/

.accordianSection{

	display: inline-block;
	width: 100%;
	
	cursor: pointer;
	
}

.accordianContent{
	
	display: block;
	max-height:0px;
	
	width:100%;
	overflow:hidden;
	
	transition-property: padding, max-height, background-color;
    transition-duration: 0.5s;
	transition-timing-function: linear;
	
}

.accordianSection input[type=checkbox] {
	position:absolute;
	display:none;
}

.accordianSection input[type=checkbox]:checked~.accordianContent {
	display:block;
	max-height: 60vmin;
}