* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
html, body {
	height: 100%;
	width: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.top-bar {
	background-color: #CCCCCC;
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vmin;
	overflow: hidden;
	text-align: center;
}
.top-bar > div {
	display: table-cell;
	font-size: 5vh;
	vertical-align: middle;
}
[class^="top--menu"] i:not(:last-of-type) {
  border-right: 2px solid #AAAAAA;
}
.menu {
	background-color: #DDDDDD;
	position: absolute;
	left: 0;
	top: 10vmin;
	height: 100%;
	margin-bottom: -10vmin;
	overflow: hidden;
	transition: width 0.5s;
	z-index: 2;
}
.menu-closed {
	width: 10vmin;
}
.menu-open {
	width: 100%;
}
.menu-area {
	float: left;
	margin-left: -10vmin;
	padding-left: 10vmin;
	height: 100%;
	width: 100%;
}
.menu-favourites {
	border-bottom: 3px solid #AAAAAA;
	overflow: hidden;
	width: 100%;
}
.menu-favourites h4 {
	background-color: #AAAAAA;
	color: #FFFFFF;
	height: 10vmin;
	text-align: center;
	line-height: 10vmin;
}
.menu-favourites li {
	float: left;
	height: 20vmin;
	line-height: 20vmin;
	text-align: center;
	width: 33%;
}
.menu-favourites li:nth-of-type(3n+1) {
	clear: both;
}
.menu-main li {
	float: left;
	height: 20vmin;
	line-height: 20vmin;
	text-align: center;
	width: 33%;
}
.menu-main li:nth-of-type(3n+1) {
	clear: both;
}
.sidebar {
	background-color: #EEEEEE;
	float: right;
	font-size: 5vmin;
	height: 100%;
	text-align: center;
	width: 10vmin;
	line-height: 98vh;
}
.content {
	background-color: #333333;
	padding-left: 10vmin;
	padding-top: 10vmin;
	height: 100%;
	width: 100%;
}