/*	PC = Product Colour	*/

.redPC {	background-color: #F00; }

.bluePC {	background-color: #00F; }

.greenPC {	background-color: #0F0; }

.blackPC {	background-color: #000; }

.darkgreyPC {	background-color: #333; }

.greyPC {	background-color: #AAA; }

.lightgreyPC {	background-color: #DDD; }

.creamPC {	background-color: #EFEBE9; }