body {
	
	margin: 0px;	
	
	font-family: Arial, Helvetica, sans-serif;
}


#mainWrapper {
	
	position: absolute;
	height: 1024px;
	width: 1280px;
	
	//background: #303030; /* Old browsers */
	//background: -moz-radial-gradient(center, ellipse cover, #303030 0%, #000000 100%); /* FF3.6+ */
	//background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#303030), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	//background: -webkit-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	//background: -o-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* Opera 12+ */
	//background: -ms-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* IE10+ */
	//background: radial-gradient(ellipse at center, #303030 0%,#000000 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	background: #858585; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #858585 0%, #0D0D0D 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#858585), color-stop(100%,#0D0D0D)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #858585 0%,#0D0D0D 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #858585 0%,#0D0D0D 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #858585 0%,#0D0D0D 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #858585 0%,#0D0D0D 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#0D0D0D',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}


.btnStyle {
	
	color: #000;
	
	background-color: #FFD231;
	
	border-radius: 0.15em;
	
	cursor: pointer;
	
}

.btnStyle:hover {
	
	color: #FFD231 !important;
	
	background-color: #000 !important;
	
}

.inputLabels {
	
	cursor: pointer;
	
}

.inputLabels input {
	
	display: none;
	
}



#displayWrapper {
	
	position: absolute;
	height: 100%;
	width: 100%;
	
}

#imgContainer {
		
	position: absolute;
	top: 15%;
	left: 50%;
	margin-left: -300px;
	height: 600px;
	width: 600px;
	
	transition: 1s;
	
}

#displayImgLabel input:checked~ #imgContainer {
	
	top: 0px;
	left: 0px;
	margin: 0px;
	
	height: 1004px;
	width: 1260px;
	
	border: 11px solid black;
	
	background-color: #0D0D0D;
	
}

#displayImg {
	
	position: absolute;
	top: 50%;
	margin-top: -300px;
	left: 50%;
	margin-left: -300px;
	
	height: 600px;
	width: 600px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	transition: 1s;
	
}

#displayImgLabel input:checked~ #imgContainer #displayImg {
	
	position: absolute;
	margin: 0px;
	top:0px;
	left: 0px;
	
	height: 100%;
	width: 100%;
	
}

#closeDisplayImg {
	
	display: none;
	
	position: absolute;
	top: 20%;
	right: 20%;
	
	height:100px;
	width: 100px;
	
	background-color: rgba(50, 50, 50, 0.1);
	
	border: 1px solid rgba(0, 0, 0, 0.1);
	
	border-radius: 50%;
	
	transition: 1s;
	
	cursor: pointer;
	
}

#closeDisplayImg:active {
	
	background-color: rgba(50, 50, 50, 0.9);
	
	border: 1px solid rgba(0, 0, 0, 0.9);
	
}

#closeDisplayImg:before {
	
	position: absolute;
	height:100px;
	width: 100px;
	
	content:"x";
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
	font-family: 'Varela Round', sans-serif;
	font-size: 100px;
	text-align: center;
	line-height: 100px;
	vertical-align: middle;
	
	transition: 0.1s;
	
}

#closeDisplayImg:active:before {
	
	color: rgba(0, 0, 0, 1);
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 1);
	
}

#displayImgLabel input:checked~ #imgContainer #closeDisplayImg {
	
	display: block;
	
}


#imagesListContainer {
	
	position: absolute;
	bottom: 150px;
	left:10%;
	height: 120px;
	width: 80%;
	
	perspective: 50em;
	perspective-origin: top;
	
}

#listDisplayPlatform {
	
	position: absolute;
	bottom: 0px;
	height: 130px;
	width: 100%;
	
	background-color: #000;
	border: 1px solid #FFF;
	
	transform: rotateX(50deg);
	transform-origin: center bottom;
	
}

#ulImages {
	
	box-sizing: border-box;
	
	position: absolute;
	margin: 0px;
	padding: 10px;
	height: 100%;
	width: 100%;
	
	text-align: center;
	
	perspective: 50em;
	perspective-origin: top;
	
}

.imgBtns {
	
	display: inline-block;
	margin: 0px 20px;
	height: 100px;
	width: 100px;
	
	background-color: white;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	transition: .1s;
	
	transform: rotateX(50deg);
	transform-origin: center bottom;
	
		
}

.imgBtns:active {
	
	
	transform: rotateX(0deg);
	
}

/*
#productSection {
	
	position: relative;
	
	height: 800px;
	width: 100%;
	
}


#productBox {
	
	position: absolute;
	top: 30px;
	left: calc(50% - 250px);
	
	height: 500px;
	width: 500px;
	
	background-color: #F6F6F6;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
}


#productCode {
	
	position: absolute;
	top: 550px;
	left: calc(50% - 250px);
	
	height: 40px;
	width: 500px;
	
	color: #FFF;
	text-align: center;
	font-size: 30px;
}


#productImages {
	
	position: absolute;
	top: 610px;
	left: calc(50% - 250px);
	
	height: 120px;
	width: 500px;
	
	background-color: #000;
	
}

#lBtn, #rBtn{
	
	position: absolute;
	top: 0px;
	
	height: 100%;
	width: 50px;
	
	background-color: #FFD231;
	
	font-size: 40px;
	line-height: 120px;
	text-align: center;
	
	cursor: pointer;
	
}

#lBtn {
	
	left: 0px;
	
	transform: rotate(180deg);
	
}

#rBtn {
	
	right: 0px;
	
}

#lBtn:hover, #rBtn:hover{
	
	color: #FFD231;
	background-color: #2C2C2C;
	
}

.imgBtns {
	
	position: absolute;
	top: 10px;
	
	height: 100px;
	width: 100px;
	
	background-color: white;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	cursor: pointer;
	
}

.imgBtns:hover {
	
	box-shadow: 0px 0px 10px 3px #FFD231;
	
}

#frontImg {
	
	left: 70px;
	
	background-image: url(productImages/DressFront.jpg);
	
}

#backImg {
	
	left: 200px;
	
	background-image: url(productImages/DressBack.png);
	
}

#patternImg {
	
	left: 330px;
	
	background-image: url(productImages/DressPattern.jpg);
	
}


#productDescription {
	
	box-sizing: border-box;
	
	position: absolute;
	padding: 5px 10px;
	top: 30px;
	left: 25px;
	
	height: 750px;
	width: 350px;
	
	background-color: #000;
	
	border: 1px solid rgba(255, 255, 255, 0.3);
	
	overflow: hidden;
	
}

#productDescription:before {
		
	position: absolute;
	bottom: 0px;
	left: 0px;
	
	height: 50px;
	width: 100%;
	
	background: linear-gradient(to bottom, rgba(82, 82, 82, 0.5), rgba(82, 82, 82, 1));
	
	content: "";
	
}

#descriptionWrapper {
	
	height: 100%;
	width: 100%;
	
	color: white;
	font-size: 20px;
	
}


#productName {
	
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
	
}

#productPrice {
	
	font-size: 25px;
	text-decoration: underline;
}



#otherSection {
	
	position: absolute;
	top: 30px;
	right: 25px;
	
	height: 750px;
	width: 350px;
			
}


#deliveryIcons {
	
	position: absolute;
	top: 0px;
	left: 0px;
	
	height: 90px;
	width: 100%;
	
	background-image: url(images/DeliveryIcons.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	
}


#recommendedWrapper {
	
	box-sizing: border-box;
	
	position: absolute;
	padding: 5px 10px;
	top: 105px;
	left: 0px;
	
	height: 550px;
	width: 100%;
	
	font-size: 25px;
	font-weight: bold;
	
	background-color: white;
	
}

#itemA {
	
	position: absolute;
	top: 50px;
	left: 75px;
	
	height: 200px;
	width: 200px;
	
	background-image: url(recommendedImages/R1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
}

#itemB {
	
	position: absolute;
	top: 260px;
	left: 75px;
	
	height: 200px;
	width: 200px;
	
	background-image: url(recommendedImages/R2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	
}

#moreBtn {
	
	position: absolute;
	bottom: 10px;
	right: 10px;
	
	height: 60px;
	width: 150px;
	
	background-color: #FFCC00;
	
	line-height: 60px;
	text-align: center;
		
}


#socialIcons {
	
	position: absolute;
	bottom: 0px;
	left: 0px;
	
	height: 80px;
	width: 100%;
	
	background-image: url(images/SocialIcons.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	
}














#controlSection {
	
	position: relative;
	
	height: 224px;
	width: 100%;
	
	background-color: rgba(82, 82, 82, 0.5);
	
}


#backBtn, #atoBtn, #atbBtn, #atwlBtn {
	
	position: absolute;
	
	font-size: 30px;
	
	text-align: center;
	
}

#backBtn {
	
	top: 82px;
	left: 20px;
	
	height: 60px;
	width: 160px;
	
	line-height: 60px;
	
}

#atoBtn {
	
	top: 20px;
	right: 200px;
	
	height: 80px;
	width: 140px;
	
	line-height: 40px;
	
}

#atbBtn {
	
	top: 120px;
	right: 20px;
	
	height: 80px;
	width: 320px;
	
	line-height: 80px;
	
}

#atwlBtn {
	
	top: 20px;
	right: 20px;
	
	height: 80px;
	width: 160px;
	
	line-height: 40px;
	
}


#colorWrapper, #sizeWrapper, #quantityWrapper {
	
	position: absolute;
	top: 0px;
	
	height: 100%;
	
	//background-color: white;
	
}

#colorWrapper {
	
	left: 200px;
	
	width: 220px;
	
}

#sizeWrapper {
	
	left: 440px;
	
	width: 220px;
	
}

#quantityWrapper {
	
	left: 680px;
	
	width: 220px;
	
	
	
}

.selectionTitle {
	
	box-sizing: border-box;
	
	position: absolute;
	padding-left: 2px;
	height: 224px;
	width: 110px;
	
	font-size: 30px;
	font-weight: bold;
	line-height: 224px;
	
	color: #FFD231;
	
}

.selectionContainer {
	
	box-sizing: border-box;
	
	position: absolute;
	padding: 10px 0px;
	top: 0px;
	right: 0px;
	height: 224px;
	width: 110px;
	
	
}

.selectionList {
	
	margin: 0px;
	padding: 0px;	
	width: 100%;
	
	list-style: none;
	
	vertical-align: middle;
	line-height: 0px;
	
	
}

.selectionItem {
	
	display: inline-block;
	
	margin: 10px 0px 10px 5px;
	height: 50px;
	width: 100px;
	
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	
	background-color: #FFF;
	
	
	border-radius: 3px;
		
}

.selectedItem {
	
	border: 2px solid #FFD231;
	background-color: #FFD231;
	
}


.selectionContainerOverlay {
	
	position: absolute;
	right: 0px;
	height: 224px;
	width: 110px;
	
	
	background: -moz-linear-gradient(top,  rgba(112,112,112,0.5) 0%, rgba(112,112,112,0) 30%, rgba(112,112,112,0) 70%, rgba(112,112,112,0.5) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,112,112,0.5)), color-stop(30%,rgba(112,112,112,0)), color-stop(70%,rgba(112,112,112,0)), color-stop(100%,rgba(112,112,112,0.5)));
	background: -webkit-linear-gradient(top,  rgba(112,112,112,0.5) 0%,rgba(112,112,112,0) 30%,rgba(112,112,112,0) 70%,rgba(112,112,112,0.5) 100%);
	background: -o-linear-gradient(top,  rgba(112,112,112,0.5) 0%,rgba(112,112,112,0) 30%,rgba(112,112,112,0) 70%,rgba(112,112,112,0.5) 100%);
	background: -ms-linear-gradient(top,  rgba(112,112,112,0.5) 0%,rgba(112,112,112,0) 30%,rgba(112,112,112,0) 70%,rgba(112,112,112,0.5) 100%);
	background: linear-gradient(to bottom,  rgba(112,112,112,0.5) 0%,rgba(112,112,112,0) 30%,rgba(112,112,112,0) 70%,rgba(112,112,112,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80707070', endColorstr='#80707070',GradientType=0 );

}




#dialImg {
	
	position: absolute;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -100px;
	
	height: 200px;
	width: 200px;
	
	background-image: url(images/Dial.png);
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
}

#quantityVal {
	
	position: absolute;
	
	height: 224px;
	width: 210px;
	
	color: #FFD231;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	line-height: 224px;
	vertical-align: middle;
	
}
*/
