body {
	
	margin: 0px;	
	
	font-family: Arial, Helvetica, sans-serif;
}


#mainWrapper {
	
	position: absolute;
	height: 1024px;
	width: 1280px;
	
	//background: #303030; /* Old browsers */
	//background: -moz-radial-gradient(center, ellipse cover, #303030 0%, #000000 100%); /* FF3.6+ */
	//background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#303030), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	//background: -webkit-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	//background: -o-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* Opera 12+ */
	//background: -ms-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* IE10+ */
	//background: radial-gradient(ellipse at center, #303030 0%,#000000 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	background: #858585; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #858585 0%, #0D0D0D 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#858585), color-stop(100%,#0D0D0D)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #858585 0%,#0D0D0D 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #858585 0%,#0D0D0D 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #858585 0%,#0D0D0D 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #858585 0%,#0D0D0D 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#0D0D0D',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}


.btnStyle {
	
	color: #000;
	
	background-color: #FFD231;
	
	border-radius: 0.15em;
	
	cursor: pointer;
	
}

.btnStyle:active {
	
	color: #FFD231 !important;
	
	background-color: #000 !important;
	
}

.inputLabels {
	
	cursor: pointer;
	
}

.inputLabels input {
	
	display: none;
	
}

.closeOverlayButton {
	
	height:400px;
	width: 100px;
	
	background-color: rgba(50, 50, 50, 0.1);
	
	border: 1px solid rgba(255, 255, 255, 0.1);
	
	border-radius: 10px;
	
	transition: 1s;
	
	cursor: pointer;
	
}

.closeOverlayButton:active {
	
	background-color: rgba(50, 50, 50, 0.9);
	
	border: 1px solid rgba(0, 0, 0, 0.9);
	
}

.closeOverlayButton:before {
	
	box-sizing: border-box;
	
	position: absolute;
	padding: 10px 0px;
	height:400px;
	width: 100px;
	
	content:"m\A i\A n\A i\A m\A i\A s\A e";
	white-space: pre;
	color: rgba(255, 204, 0, 0.5);
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.1);
	font-family: 'Varela Round', sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
	
	transition: 0.1s;
	
}

.closeOverlayButton:active:before {
	
	color: rgba(255, 204, 0, 1);
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
	
}

.titleLine {
	
	position: absolute;
	bottom: 7px;
	height: 3px;
	width: 100%;
	
	background-color: rgba(255, 255, 255, 0.9);
	
	opacity: 0;
	
	transition: 1s;
	
}




#displayWrapper {}


#imagesListContainer {
	
	position: absolute;
	bottom: 100px;
	left:10%;
	height: 120px;
	width: 80%;
	
	perspective: 50em;
	perspective-origin: top;
	
}

#listDisplayPlatform {
	
	position: absolute;
	bottom: 0px;
	height: 130px;
	width: 100%;
	
	background-color: #000;
	border: 1px solid #FFF;
	
	transform: rotateX(40deg);
	transform-origin: center bottom;
	
}

#ulImages {
	
	box-sizing: border-box;
	
	position: absolute;
	margin: 0px;
	padding: 10px;
	height: 100%;
	width: 100%;
	
	text-align: center;
	
	perspective: 50em;
	perspective-origin: top;
	
}

.imgBtns {
	
	display: inline-block;
	margin: 0px 20px;
	height: 100px;
	width: 100px;
	
	background-color: white;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	transition: .1s;
	
	transform: rotateX(40deg);
	transform-origin: center bottom;
	
		
}

.imgBtns:active {
	
	
	transform: rotateX(0deg);
	
}


#imgContainer {
		
	position: absolute;
	top: 15%;
	left: 50%;
	margin-left: -300px;
	height: 600px;
	width: 600px;
	
	transition: 1s;
	
}

#displayImgLabel input:checked~ #imgContainer {
	
	top: 0px;
	left: 0px;
	margin: 0px;
	
	height: 1004px;
	width: 1260px;
	
	border: 11px solid black;
	
	background-color: rgba(13, 13, 13, 0.9);
	
	z-index: 10;
	
}

#displayImg {
	
	position: absolute;
	top: 50%;
	margin-top: -300px;
	left: 50%;
	margin-left: -300px;
	
	height: 600px;
	width: 600px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	transition: 1s;
	
}

#displayImgLabel input:checked~ #imgContainer #displayImg {
	
	position: absolute;
	margin: 0px;
	top:0px;
	left: 0px;
	
	height: 100%;
	width: 100%;
	
}

#closeDisplayImgBtn {
	
	position: absolute;
	top: 30%;
	right: -100px;
	
	opacity: 0;
	
	transition: 1s;
	
	transition-delay: 0s;
		
}

#displayImgLabel input:checked~ #imgContainer #closeDisplayImgBtn {
	
	right: 5%;
	
	opacity: 1;
	
	transition-delay: 1s;
	
}


#leftArrowPerspective, #rightArrowPerspective {
	
	position: absolute;
	top: 280px;
	
	perspective: 50em;
	
	z-index: 4;
	
}

#leftArrowPerspective {
	
	left: 370px;
	
	perspective-origin: left;
	
}

#rightArrowPerspective {
	
	right: 370px;
	
	perspective-origin: right;
	
}

#displayImgLeftArrow, #displayImgRightArrow {
	
	color: rgba(255, 210, 49, 0.5);
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 200px;
	
	cursor: pointer;
	
}

#displayImgLeftArrow:active, #displayImgRightArrow:active {
	
	color: rgba(255, 210, 49, 0.9);
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
		
}

#displayImgLeftArrow {
	
	
	
	transform: rotateY(-40deg);
	transform-origin: right center;
	
}

#displayImgRightArrow {
	
	
	
	transform: rotateY(40deg);
	transform-origin: left center;
	 
}




#buttonsWrapper, #buttonsContainer, #backButton, #homeButton {
	
	position: absolute;
	transition: 0.5s;
	
}

#buttonsWrapper {
	
	top: 700px;
	left: 80px;
	height: 100px;
	width: 300px;
	
	perspective: 100em;
	perspective-origin: 0% -320%;
	
}

#buttonsContainer {
	
	bottom: 0px;
	left: 0px;
	
	height: 80px;
	width: 450px;
	
	transform: rotateY(50deg) rotateX(30deg);
	transform-origin: left bottom;
	
}

#backButton {
	
	bottom: 0px;
	left: 20px;
	height: 80px;
	width: 200px;
	
	font-size: 30px;
	text-align: center;
	line-height: 80px;
	
	
	
	
}

#homeButton {
	
	bottom: 0px;
	left: 230px;
	height: 80px;
	width: 200px;
	
	font-size: 30px;
	text-align: center;
	line-height: 80px;
	
}

#buttonsContainer:active {
	
	z-index: 10;
	
	transform: rotate(0deg);
		
}




#productSectionWrapper {
	
	position: absolute;
	height: 640px;
	width: 330px;
	
	perspective: 100em;
	perspective-origin: right;
	
	transition: 1s;
		
}

#productSectionLabel input:checked~ #productSectionWrapper {
	
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	
	z-index: 10;
	
}


#productSectionContainer {
		
	position: absolute;
	top: 40px;
	left: 40px;
	height: 640px;
	width: 430px;
	
	border: 1px solid white;
	
	background-color: none;
	
	transform: rotateY(50deg);
	transform-origin: left center;
	
	transition: 1s;
	
}

#productSectionLabel input:checked~ #productSectionWrapper #productSectionContainer {
	
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	
	background-color: rgba(13, 13, 13, 0.9);
	
	border: none;
	
	transform: rotateY(0deg);
	
}

#productDetailsTitle {
	
	box-sizing: border-box;
	
	position: absolute;
	top: 10px;
	left: 10px;
	height: 70px;
	width: 410px;
	
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	
	background-color: #000;
	
	transition: 1s;
	
}

#productSectionLabel input:checked~ #productSectionWrapper #productDetailsTitle {
	
	top: 50px;
	left: 50px;
	left: 0px;
	width: 100%;
	
	background-color: rgba(0, 0, 0, 0.3);
	
}

#productSectionLabel input:checked~ #productSectionWrapper #productDetailsTitle .titleLine {
	
	opacity: 1;
	
}

#productDetails {
	
	box-sizing: border-box;
	
	position: absolute;
	padding: 20px;
	top: 81px;
	left: 10px;
	height: 550px;
	width: 410px;
	
	color: white;
	font-size: 20px;
	word-wrap: normal;
	
	background-color: #000;
	
	transition: 1s;
	
	overflow: hidden;
	
}

#productSectionLabel input:checked~ #productSectionWrapper #productDetails {
	
	top: 121px;
	left: 50px;
	height: 900px;
	width: 1180px;
	
	font-size: 25px;
	
	background-color: rgba(0, 0, 0, 0.5);
	
	overflow-y: scroll;
		
}


#productDetailsOtherContainerA {
	
	position: relative;
	float: right;
	margin: 0px;	
	height: 0px;
	width: 0px;
	
	background-color: #000;
	
	transition: 1s;
	
	overflow: hidden;
	
}

#productSectionLabel input:checked~ #productSectionWrapper  
#productDetails 
#productDetailsOtherContainerA {
	
	margin: 10px;
	height: 120px;
	width: 400px;
	
}

#deliveryIcons { 
	
	position: absolute;
	top: -110px;
	height: 100px;
	width: 400px;
	
	background-image: url(images/DeliveryIcons.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	
	transition: 1s;
	
	transition-delay: 0s;
	
	
}

#productSectionLabel input:checked~ #productSectionWrapper  
#productDetails 
#productDetailsOtherContainerA
#deliveryIcons {
	
	top: 1px;
	
	transition-delay: 1s;
	 
}


#productDetailsOtherContainerB  {
	
	position: relative;
	float: right;
	clear: both;
	
	height: 0px;
	width: 0px;
	
}

#productSectionLabel input:checked~ #productSectionWrapper  
#productDetails
#productDetailsOtherContainerB  {
	
	height: 600px;
	width: 300px;
	
}

#socialIconsImg {
	
	position: absolute;
	top: 10px;
	left: 250px;
	
	height: 500px;
	width: 91px;
	
	background-image: url(images/SocialIcons.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	opacity: 0;
	
	transition: 1s;
	
	transition-delay: 0s;
	
}

#productSectionLabel input:checked~ #productSectionWrapper  
#productDetails 
#productDetailsOtherContainerB
#socialIconsImg {
	
	left: 40px;
	
	opacity: 1;
	
	transition-delay: 1s;
	
}

#closeProductDetailsBtn {
	
	position: absolute;
	top: 50px;
	right: -100px;
	
	opacity: 0;
	
	transition: 1s;
	
	transition-delay: 0s;
		
}

#productSectionLabel input:checked~ #productSectionWrapper  
#productDetails 
#productDetailsOtherContainerB
#closeProductDetailsBtn {
	
	right: 10px;
	
	opacity: 1;
	
	transition-delay: 1s;
	
}




#recommendedWrapper{
	
	position: absolute;
	right: 0px;
	height: 450px;
	width: 330px;
	
	perspective: 100em;
	perspective-origin: left;
	
	transition: 1s;
	
}

#recommendedWrapper * {
	
	transition: 1s;
	
}

#recommendedSectionLabel input:checked~ #recommendedWrapper {
	
	top: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	
	z-index: 10;
	
}

#recommendedContainer {
	
	position: absolute;
	top: 40px;
	right: 40px;
	height: 400px;
	width: 430px;
	
	border: 1px solid white;
	
	background-color: none;
	
	transform: rotateY(-50deg);
	transform-origin: right center;
	
	transition: 1s;
	
}

#recommendedSectionLabel input:checked~ #recommendedWrapper #recommendedContainer {
	
	top: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	
	background-color: rgba(13, 13, 13, 0.9);
	
	border: none;
	
	transform: rotateY(0deg);
	
}

#recommendedTitle {
	
	box-sizing: border-box;
	
	position: absolute;
	top: 10px;
	right: 10px;
	height: 70px;
	width: 410px;
	
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	
	background-color: #000;
	
	transition: 1s;
	
}

#recommendedSectionLabel input:checked~ #recommendedWrapper #recommendedTitle {
	
	top: 50px;
	right: 50px;
	left: 0px;
	width: 100%;
	
	background-color: rgba(0, 0, 0, 0.3);
	
}

#recommendedSectionLabel input:checked~ #recommendedWrapper #recommendedTitle .titleLine {
	
	opacity: 1;
	
}

#recommndedContent {
	
	box-sizing: border-box;
	
	position: absolute;
	top: 81px;
	right: 10px;
	height: 310px;
	width: 410px;
	
	background-color: #000;
	
	transition: 1s;
	
	overflow: hidden;
	
}

#recommendedSectionLabel input:checked~ #recommendedWrapper #recommndedContent {
	
	top: 121px;
	right: 50px;
	height: 900px;
	width: 1180px;
		
	background-color: rgba(0, 0, 0, 0.5);
		
}


#recommndedList {
	
	position: absolute;
	top: 0px;
	left: 0px;
	height: 310px;
	width: 410px;
	
	text-align: left;
	
	overflow: hidden;
	
	transition: 1s;
	
}

#recommendedSectionLabel input:checked~ #recommendedWrapper #recommndedContent #recommndedList {
	
	box-sizing: border-box;
	
	padding: 10px;
	height: 100%;
	width: 1050px;
	
	text-align: center;
	
	overflow-y: scroll;
	
}

.rCard {
	
	display: inline-block;
	position: relative;
	
	margin: 10px 5px;
	
	height: 290px;
	width: 190px;
		
}

#recommendedSectionLabel input:checked~ #recommendedWrapper #recommndedContent 
#recommndedList .rCard{
	
	margin: 10px 16px;
	height: 400px;
	width: 300px;
	
	border: 1px solid #FFF;
	
}

.rCardImg {
	
	position: absolute;
	left: 0px;
	margin-left: 0px;
	
	height: 290px;
	width: 190px;
	
	background-image: url(recommendedImages/R1.png);
	
	background-color: #DDD;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	transition: 1s;
	
}

#recommendedSectionLabel input:checked~ #recommendedWrapper #recommndedContent 
#recommndedList .rCard .rCardImg {
	
	left: 50%;
	margin: 0px auto;
	margin-left: -125px;
	
	height: 350px;
	width: 250px;
	
}

.rCardName {
	
	position: absolute;
	bottom: 110px;
	height: 40px;
	width: 160px;
	
	color: white;
	font-size: 22px;
	text-align: left;
	
	overflow: hidden;
	
	opacity: 0;
	
	transition: 1s;
	
}

#recommendedSectionLabel input:checked~ #recommendedWrapper #recommndedContent 
#recommndedList .rCard .rCardName {
	
	left: 5px;
	bottom: 0px;
	
	opacity: 1;
	
}

.rCardPrice {
	
	position: absolute;
	right: 0px;
	bottom: 110px;
	height: 40px;
	width: 120px;
	
	color: white;
	font-size: 25px;
	text-align: right;
	
	overflow: hidden;
	
	opacity: 0;
	
	transition: 1s;
	
}

#recommendedSectionLabel input:checked~ #recommendedWrapper #recommndedContent 
#recommndedList .rCard .rCardPrice {
	
	right: 5px;
	bottom: 0px;
	
	opacity: 1;
	
}


#closeRecommendedBtn {
	
	position: absolute;
	top: 20%;
	right: -100px;
	
	opacity: 0;
	
	transition: 1s;
	
	transition-delay: 0s;
	
}

#recommendedSectionLabel input:checked~ #recommendedWrapper 
#recommndedContent #closeRecommendedBtn {
	
	right: 10px;
	
	opacity: 1;
	
	transition-delay: 1s;
	
}




#optionsWrapper{
	
	position: absolute;
	top: 500px;
	right: 0px;
	height: 300px;
	width: 330px;
	
	perspective: 100em;
	perspective-origin: 0% -100%;
	
	transition: 1s;
	
	transform-origin: center bottom;
	
	
}

#optionsWrapper *{
	
	transition: 1s;	
	
}

#optionSectionLabel input:checked~ #optionsWrapper {
	
	top: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	
	z-index: 10;
	
	transform: rotate(0deg);
	
}

#optionSectionContainer {
	
	position: absolute;
	right: 80px;
	height: 300px;
	width: 430px;
	
	border: 1px solid white;
	
	background-color: none;
	
	//transform: rotateY(-50deg) rotateX(20deg);
	transform-origin: right center;
	
	transition: 1s;
	
}

#optionSectionLabel input:checked~ #optionsWrapper #optionSectionContainer {
	
	top: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	
	background-color: rgba(13, 13, 13, 0.9);
	
	border: none;
	
	transform: rotateY(0deg);
	
}

#optionsTitle {
	
	box-sizing: border-box;
	
	position: absolute;
	top: 10px;
	right: 10px;
	height: 70px;
	width: 410px;
	
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	
	background-color: #000;
	
	transition: 1s;
	
}

#optionSectionLabel input:checked~ #optionsWrapper #optionsTitle {
	
	top: 50px;
	right: 50px;
	left: 0px;
	width: 100%;
	
	background-color: rgba(0, 0, 0, 0.3);
	
}

#optionSectionLabel input:checked~ #optionsWrapper #optionsTitle .titleLine {
	
	opacity: 1;
	
}

#optionsContent {
	
	box-sizing: border-box;
	
	position: absolute;
	top: 81px;
	right: 10px;
	height: 210px;
	width: 410px;
	
	background-color: #000;
	
	transition: 1s;
	
}

#optionSectionLabel input:checked~ #optionsWrapper #optionsContent {
	
	top: 121px;
	right: 50px;
	height: 900px;
	width: 1180px;
		
	background-color: rgba(0, 0, 0, 0.5);
	
}

#basketSection {
	
	position: absolute;
	top: 0px;
	left: 0px;
	height: 210px;
	width: 410px;
	
	border: 0px solid #000;
	border-radius: 10px;
	
}

#optionSectionLabel input:checked~ #optionsWrapper 
#optionsContent #basketSection {
	
	top: 50px;
	left: 50px;
	height: 800px;
	width: 700px;
	
	border: 3px solid #FFCC00;
		
}

#basketContainer {
	
	box-sizing: border-box;
	
	position: absolute;
	bottom: 5px;
	left: 5px;
	height: 200px;
	width: 400px;
	
	border: 3px solid #FFCC00;
	border-radius: 10px;
	
}

#optionSectionLabel input:checked~ #optionsWrapper 
#optionsContent #basketSection #basketContainer {
	
	bottom: -2px;
	left: 0px;
	height: 300px;
	width: 700px;
	
	
}

#basketColorVal, #basketSizeVal, #basketQuantityVal {
	
	box-sizing: border-box;
	
	position: absolute;
	top: 10px;
	width: 100px;
	height: 80px;
	
	color: #FFCC00;
	font-size: 40px;
	text-align: center;
	line-height: 80px;
	
	border: 5px solid #FFCC00;
	border-radius: 10px;
	
	overflow: hidden;
	
}

#basketColorVal {
	
	position: absolute;
	left: 10px;
	
	background-color: black;
	
}

#basketSizeVal {
	
	position: absolute;
	left: 145px;
	
}

#basketQuantityVal {
	
	position: absolute;
	left: 280px;
	
}

#basketText {
	
	position: absolute;
	bottom: 0px;
	height: 80px;
	width: 100%;
	
	color: #000;
	font-size: 40px;
	text-align: center;
	background-color: #FFCC40;
	line-height: 80px;
		
}