body {
	
	margin: 0px;	
	
	font-family: Arial, Helvetica, sans-serif;
}


#mainWrapper {
	
	position: absolute;
	height: 1024px;
	width: 1280px;
	
	//background: #303030; /* Old browsers */
	//background: -moz-radial-gradient(center, ellipse cover, #303030 0%, #000000 100%); /* FF3.6+ */
	//background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#303030), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	//background: -webkit-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	//background: -o-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* Opera 12+ */
	//background: -ms-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* IE10+ */
	//background: radial-gradient(ellipse at center, #303030 0%,#000000 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	background: #858585; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #858585 0%, #0D0D0D 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#858585), color-stop(100%,#0D0D0D)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #858585 0%,#0D0D0D 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #858585 0%,#0D0D0D 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #858585 0%,#0D0D0D 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #858585 0%,#0D0D0D 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#0D0D0D',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}


.btnStyle {
	
	color: #000;
	
	background-color: #FFD231;
	
	border-radius: 0.15em;
	
	cursor: pointer;
	
}

.btnStyle:hover {
	
	color: #FFD231 !important;
	
	background-color: #000 !important;
	
}

.inputLabels {
	
	cursor: pointer;
	
}

.inputLabels input {
	
	display: none;
	
}

.closeOverlayButton {
	
	height:400px;
	width: 100px;
	
	background-color: rgba(50, 50, 50, 0.1);
	
	border: 1px solid rgba(255, 255, 255, 0.1);
	
	border-radius: 10px;
	
	transition: 1s;
	
	cursor: pointer;
	
}

.closeOverlayButton:active {
	
	background-color: rgba(50, 50, 50, 0.9);
	
	border: 1px solid rgba(0, 0, 0, 0.9);
	
}

.closeOverlayButton:before {
	
	box-sizing: border-box;
	
	position: absolute;
	padding: 10px 0px;
	height:400px;
	width: 100px;
	
	content:"m\A i\A n\A i\A m\A i\A s\A e";
	white-space: pre;
	color: rgba(255, 204, 0, 0.5);
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.1);
	font-family: 'Varela Round', sans-serif;
	font-size: 50px;
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
	
	transition: 0.1s;
	
}

.closeOverlayButton:active:before {
	
	color: rgba(255, 204, 0, 1);
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
	
}

.titleLine {
	
	position: absolute;
	bottom: 7px;
	height: 3px;
	width: 100%;
	
	background-color: rgba(255, 255, 255, 0.9);
	
	opacity: 0;
	
	transition: 1s;
	
}




#displayWrapper {}


#imagesListContainer {
	
	position: absolute;
	bottom: 100px;
	left:10%;
	height: 120px;
	width: 80%;
	
	perspective: 50em;
	perspective-origin: top;
	
}

#listDisplayPlatform {
	
	position: absolute;
	bottom: 0px;
	height: 130px;
	width: 100%;
	
	background-color: #000;
	border: 1px solid #FFF;
	
	transform: rotateX(40deg);
	transform-origin: center bottom;
	
}

#ulImages {
	
	box-sizing: border-box;
	
	position: absolute;
	margin: 0px;
	padding: 10px;
	height: 100%;
	width: 100%;
	
	text-align: center;
	
	perspective: 50em;
	perspective-origin: top;
	
}

.imgBtns {
	
	display: inline-block;
	margin: 0px 20px;
	height: 100px;
	width: 100px;
	
	background-color: white;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	transition: .1s;
	
	transform: rotateX(40deg);
	transform-origin: center bottom;
	
		
}

.imgBtns:active {
	
	
	transform: rotateX(0deg);
	
}


#imgContainer {
		
	position: absolute;
	top: 15%;
	left: 50%;
	margin-left: -300px;
	height: 600px;
	width: 600px;
	
	transition: 1s;
	
}

#displayImgLabel input:checked~ #imgContainer {
	
	top: 0px;
	left: 0px;
	margin: 0px;
	
	height: 1004px;
	width: 1260px;
	
	border: 11px solid black;
	
	background-color: rgba(13, 13, 13, 0.9);
	
	z-index: 10;
	
}

#displayImg {
	
	position: absolute;
	top: 50%;
	margin-top: -300px;
	left: 50%;
	margin-left: -300px;
	
	height: 600px;
	width: 600px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	transition: 1s;
	
}

#displayImgLabel input:checked~ #imgContainer #displayImg {
	
	position: absolute;
	margin: 0px;
	top:0px;
	left: 0px;
	
	height: 100%;
	width: 100%;
	
}

#closeDisplayImgBtn {
	
	position: absolute;
	top: 30%;
	right: -100px;
	
	opacity: 0;
	
	transition: 1s;
	
	transition-delay: 0s;
		
}

#displayImgLabel input:checked~ #imgContainer #closeDisplayImgBtn {
	
	right: 5%;
	
	opacity: 1;
	
	transition-delay: 1s;
	
}




#backButtonWrapper, #backButton {
	
	position: absolute;
	transition: 0.5s;
	
}

#backButtonWrapper {
	
	top: 700px;
	height: 100px;
	width: 330px;
	
	perspective: 50em;
	perspective-origin: right;
	
	transform: rotate(-15deg);
	transform-origin: center bottom;
	
}

#backButton {
	
	left: 70px;
	height: 60px;
	width: 430px;
	
	font-size: 30px;
	text-align: center;
	line-height: 60px;
	
	transform: rotateY(50deg);
	transform-origin: left center;
	
}

#backButtonWrapper:active, #backButton:active {
	transform: rotateY(0deg);	
}




#productSectionWrapper {
	
	position: absolute;
	height: 640px;
	width: 330px;
	
	perspective: 100em;
	perspective-origin: right;
	
	transition: 1s;
		
}

#productSectionLabel input:checked~ #productSectionWrapper {
	
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	
	z-index: 10;
	
}


#productSectionContainer {
		
	position: absolute;
	top: 40px;
	left: 40px;
	height: 640px;
	width: 430px;
	
	border: 1px solid white;
	
	background-color: none;
	
	transform: rotateY(50deg);
	transform-origin: left center;
	
	transition: 1s;
	
}

#productSectionLabel input:checked~ #productSectionWrapper #productSectionContainer {
	
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	
	background-color: rgba(13, 13, 13, 0.9);
	
	border: none;
	
	transform: rotateY(0deg);
	
}

#productDetailsTitle {
	
	box-sizing: border-box;
	
	position: absolute;
	top: 10px;
	left: 10px;
	height: 70px;
	width: 410px;
	
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	
	background-color: #000;
	
	transition: 1s;
	
}

#productSectionLabel input:checked~ #productSectionWrapper #productDetailsTitle {
	
	top: 50px;
	left: 50px;
	left: 0px;
	width: 100%;
	
	background-color: rgba(0, 0, 0, 0.3);
	
}

#productSectionLabel input:checked~ #productSectionWrapper #productDetailsTitle .titleLine {
	
	opacity: 1;
	
}

#productDetails {
	
	box-sizing: border-box;
	
	position: absolute;
	padding: 20px;
	top: 81px;
	left: 10px;
	height: 550px;
	width: 410px;
	
	color: white;
	font-size: 20px;
	word-wrap: normal;
	
	background-color: #000;
	
	transition: 1s;
	
	overflow: hidden;
	
}

#productSectionLabel input:checked~ #productSectionWrapper  #productDetails {
	
	top: 121px;
	left: 50px;
	height: 900px;
	width: 1180px;
	
	font-size: 25px;
	
	background-color: rgba(0, 0, 0, 0.5);
	
	overflow-y: scroll;
	
	//transition: 1.5s;
	
}


#productDetailsOtherContainerA {
	
	position: relative;
	float: right;
	margin: 0px;	
	height: 0px;
	width: 0px;
	
	background-color: #000;
	
	transition: 1s;
	
	overflow: hidden;
	
}

#productSectionLabel input:checked~ #productSectionWrapper  
#productDetails 
#productDetailsOtherContainerA {
	
	margin: 10px;
	height: 120px;
	width: 400px;
	
}

#deliveryIcons { 
	
	position: absolute;
	top: -110px;
	height: 100px;
	width: 400px;
	
	background-image: url(images/DeliveryIcons.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	
	transition: 1s;
	
	transition-delay: 0s;
	
	
}

#productSectionLabel input:checked~ #productSectionWrapper  
#productDetails 
#productDetailsOtherContainerA
#deliveryIcons {
	
	top: 1px;
	
	transition-delay: 1s;
	 
}


#productDetailsOtherContainerB  {
	
	position: relative;
	float: right;
	clear: both;
	
	height: 0px;
	width: 0px;
	
}

#productSectionLabel input:checked~ #productSectionWrapper  
#productDetails
#productDetailsOtherContainerB  {
	
	height: 600px;
	width: 300px;
	
}

#socialIconsImg {
	
	position: absolute;
	top: 10px;
	left: 250px;
	
	height: 500px;
	width: 91px;
	
	background-image: url(images/SocialIcons.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	opacity: 0;
	
	transition: 1s;
	
	transition-delay: 0s;
	
}

#productSectionLabel input:checked~ #productSectionWrapper  
#productDetails 
#productDetailsOtherContainerB
#socialIconsImg {
	
	left: 40px;
	
	opacity: 1;
	
	transition-delay: 1s;
	
}

#closeProductDetailsBtn {
	
	position: absolute;
	top: 50px;
	right: -100px;
	
	opacity: 0;
	
	transition: 1s;
	
	transition-delay: 0s;
		
}

#productSectionLabel input:checked~ #productSectionWrapper  
#productDetails 
#productDetailsOtherContainerB
#closeProductDetailsBtn {
	
	right: 10px;
	
	opacity: 1;
	
	transition-delay: 1s;
	
}







