body {
	
	margin: 0px;	
	
	font-family: Arial, Helvetica, sans-serif;
}


#mainWrapper {
	
	height: 1024px;
	width: 1280px;
	
	background: #303030; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #303030 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#303030), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #303030 0%,#000000 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #303030 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}


.btnStyle {
	
	color: #000;
	
	background-color: #FFD231;
	
	border-radius: 0.15em;
	
	cursor: pointer;
	
}

.btnStyle:hover {
	
	color: #FFD231 !important;
	
	background-color: #000 !important;
	
}




#productSection {
	
	position: relative;
	
	height: 800px;
	width: 100%;
	
}


#productBox {
	
	position: absolute;
	top: 30px;
	left: calc(50% - 250px);
	
	height: 500px;
	width: 500px;
	
	background-color: #F6F6F6;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
}


#productCode {
	
	position: absolute;
	top: 550px;
	left: calc(50% - 250px);
	
	height: 40px;
	width: 500px;
	
	color: #FFF;
	text-align: center;
	font-size: 30px;
}


#productImages {
	
	position: absolute;
	top: 610px;
	left: calc(50% - 250px);
	
	height: 120px;
	width: 500px;
	
	background-color: #000;
	
}

#productImages:before, #productImages:after{
	
	position: absolute;
	top: 0px;
	
	height: 100%;
	width: 50px;
	
	background-color: #FFD231;
	
	font-size: 40px;
	line-height: 120px;
	text-align: center;
	
}

#productImages:before {
	
	left: 0px;
	
	content: "\25b6";
	
	transform: rotate(180deg);
	
}

#productImages:after {
	
	right: 0px;
	
	content: "\25b6";
	
}

#productImages:hover:before, #productImages:hover:after{
	
	color: #FFD231;
	background-color: #2C2C2C;
	
}

.imgBtns {
	
	position: absolute;
	top: 10px;
	
	height: 100px;
	width: 100px;
	
	background-color: white;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	cursor: pointer;
	
}

.imgBtns:hover {
	
	box-shadow: 0px 0px 10px 3px #FFD231;
	
}

#frontImg {
	
	left: 70px;
	
	background-image: url(productImages/DressFront.jpg);
	
}

#backImg {
	
	left: 200px;
	
	background-image: url(productImages/DressBack.png);
	
}

#patternImg {
	
	left: 330px;
	
	background-image: url(productImages/DressPattern.jpg);
	
}


#productDescription {
	
	box-sizing: border-box;
	
	position: absolute;
	padding: 5px 10px;
	top: 30px;
	left: 25px;
	
	height: 750px;
	width: 350px;
	
	background-color: #000;
	
	border: 1px solid rgba(255, 255, 255, 0.3);
	
	overflow: hidden;
	
}

#productDescription:before {
		
	position: absolute;
	bottom: 0px;
	left: 0px;
	
	height: 50px;
	width: 100%;
	
	background: linear-gradient(to bottom, rgba(82, 82, 82, 0.5), rgba(82, 82, 82, 1));
	
	content: "";
	
}

#descriptionWrapper {
	
	height: 100%;
	width: 100%;
	
	color: white;
	font-size: 20px;
	
	overflow: scroll;
	
}


#productName {
	
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
	
}

#productPrice {
	
	font-size: 25px;
	text-decoration: underline;
}



#otherSection {
	
	position: absolute;
	top: 30px;
	right: 25px;
	
	height: 750px;
	width: 350px;
			
}


#deliveryIcons {
	
	position: absolute;
	top: 0px;
	left: 0px;
	
	height: 90px;
	width: 100%;
	
	background-image: url(images/DeliveryIcons.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	
}


#recommendedWrapper {
	
	box-sizing: border-box;
	
	position: absolute;
	padding: 5px 10px;
	top: 105px;
	left: 0px;
	
	height: 550px;
	width: 100%;
	
	font-size: 25px;
	font-weight: bold;
	
	background-color: white;
	
}

#itemA {
	
	position: absolute;
	top: 50px;
	left: 75px;
	
	height: 200px;
	width: 200px;
	
	background-image: url(recommendedImages/R1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
}

#itemB {
	
	position: absolute;
	top: 260px;
	left: 75px;
	
	height: 200px;
	width: 200px;
	
	background-image: url(recommendedImages/R2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	
}

#moreBtn {
	
	position: absolute;
	bottom: 10px;
	right: 10px;
	
	height: 60px;
	width: 150px;
	
	background-color: #FFCC00;
	
	line-height: 60px;
	text-align: center;
		
}


#socialIcons {
	
	position: absolute;
	bottom: 0px;
	left: 0px;
	
	height: 80px;
	width: 100%;
	
	background-image: url(images/SocialIcons.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	
}














#controlSection {
	
	position: relative;
	
	height: 224px;
	width: 100%;
	
	background-color: rgba(82, 82, 82, 0.5);
	
}


#backBtn, #atoBtn, #atbBtn, #atwlBtn {
	
	position: absolute;
	
	font-size: 30px;
	
	text-align: center;
	
}

#backBtn {
	
	top: 82px;
	left: 20px;
	
	height: 60px;
	width: 160px;
	
	line-height: 60px;
	
}

#atoBtn {
	
	top: 72px;
	right: 360px;
	
	height: 80px;
	width: 140px;
	
	line-height: 40px;
	
}

#atbBtn {
	
	top: 72px;
	right: 200px;
	
	height: 80px;
	width: 140px;
	
	line-height: 40px;
	
}

#atwlBtn {
	
	top: 72px;
	right: 20px;
	
	height: 80px;
	width: 160px;
	
	line-height: 40px;
	
}


