@media (max-width: 1200px) {
	.dial{
		background-size: 13vmin 13vmin;
		padding: 5vmin 6vmin;
		/* font-size:150%; */
	}
	body{
		font-size:100%;
	}
	.item>p{
		width: 25vw;
		height: 5vh;
	}
	.product{
		width:50%!important;
		margin-bottom:0px;
		height:15%!important;
	}
}
@media (max-width: 900px) {
	#total{
		width:98vw;
		height: 5vh;
		text-align: center;
		font-size:100%;
	}
	body{
		font-size:100%;
	}
	#options{
		float:left;
		width:98vw;
		margin: 1%;
		height:10vh;
        position: absolute;
        bottom: 2%;
	}
	button{
		padding:0;
		font-size:90%;
		margin-bottom:0;
		height:10vh;
		display:block;
		float:left;
		margin:0px;
		margin-right:1%;
	}
	#reserve{
		margin:0px;
		margin-right:1%;
	}
	button, form{
		width: 23.4vw;
	}
	form{
		padding:0;
		margin-bottom:0;
		height:10vh;
		display:block;
		float:left;
		margin:0px;
		margin-right:1%;
	}
	form>button{
		width:100%;
		height:100%;
		margin:0;
	}
	.cancel{
		margin:0;
	}
	#items{
		width:98vw;
		height: 80vh;
		margin-right:0;
	}
	.item{
		width:98%;
		font-size:100%;
		height:25vmin;
	}
	.item:first-child{
		margin-top:0;
	}
	.item:last-child{
		margin-bottom:0;
	}
	.dial{
		background-size: 8vmax 8vmax;
		padding: 3vmax 3.5vmax;
	}
	.item>p{
		width: 40%;
	}
	.item>.product{
		font-size: 75%!important;
		height: 20%;
	}
}
@media (max-width: 600px) {
	body{
		font-size:75%;
	}
	.dial{
		background-image:none;
		background-size: 0;
		padding: 0;
		color:#000;
	}
	.item >p {
		width:25%;
	}
	#quantityContainer{
		left:40%;
	}
}
