body{
	margin:0;
}
#items{
	float:left;
	margin-left:1vw;
	overflow-y: scroll;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 91vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
}
#items, #total{
	width:68vw;
}
#total{
	float:left;
	height:5vh;
	margin-left:1vw;
	text-align:right;
	color:rgba(255,213,49,1);
	font-size: 220%;
}
#items::-webkit-scrollbar { 
    display: none; 
}
#options{
	float:right;
	width:27%;
	margin-right:1vw;
	margin-top:1vh;
	margin-bottom:1vh;
	height: 98vh;
	overflow-y: scroll;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
#options::-webkit-scrollbar { 
    display: none; 
}
.item{
	width: 100%;
	height: 15%;
	background: -webkit-linear-gradient(90deg, rgba(180,180,180,1) , rgba(222,222,222,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(180,180,180,1) , rgba(222,222,222,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(180,180,180,1) , rgba(222,222,222,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, rgba(180,180,180,1) , rgba(222,222,222,0)); /* Standard syntax (must be last) */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#000;
	font-size: 200%;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.item:first-child{
	margin-top:25%;
}
.item:last-child{
	margin-bottom:25%;
}

.item:not(:last-child){
	margin-bottom:0.5%;
}
.item:hover, .item:active{
	color:#fff;
	background: -webkit-linear-gradient(90deg, rgba(255,213,49,1) , rgba(222,222,222,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(255,213,49,1) , rgba(222,222,222,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(255,213,49,1) , rgba(222,222,222,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, rgba(255,213,49,1) , rgba(222,222,222,0)); /* Standard syntax (must be last) */
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.item>p{
	margin:0;
	width: 50%;
	height:30%;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.item>.product{
	margin:0!important;
	font-size: 50%!important;
	height:15%;
	float:left;
}
.image{
	height:100%;
	float: left;
}
.image>img{
	height: 100%;
	width: auto;
}
.price{
	float:right;
}
.price, .item>p{
	margin-top:5%;
}
button{
	width:100%;
	height:10%;
	background-color:rgba(255,213,49,1);
	color:#3c3432;
	font-size:200%;
	border-width: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
button:not(:last-child){
	margin-bottom:5%;
}
button:hover,button:active{
	background-color:#3c3432;
	color:rgba(255,213,49,1);
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
button:first-child{
	margin-top:22.5vh;
}
.cancel{
	background-color:rgba(120,34,25,1);
	color:#fff;
	/*margin-bottom:40vh;*//*for scrolling*/
}
.cancel:hover, .cancel:active{
	color:rgba(120,34,25,1);
	background-color:#fff;
}
.dial{
	background-image:url('../images/Dial.png');
	background-repeat:no-repeat;
	background-size: 100px 100px;
	padding: 30px 40px;
	color:rgba(255,213,49,1);
	position:relative;
	top:40%;
}
.info{
	float:right;
	cursor:pointer;
	margin-right:1%;
	margin-top:1%;
}