body{
	margin:0;
}
#items{
	float:left;
	margin-left:1vw;
	overflow-y: scroll;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 91vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	left: -100%;
	transition:0.5s;
	position:relative;
}
#items, #total{
	width:68vw;
}
#total{
	float:left;
	height:5vh;
	margin-left:1vw;
	text-align:right;
	color:rgba(255,213,49,1);
	font-size: 220%;
	left: -100%;
	transition:0.5s;
	position:relative;
}
#items::-webkit-scrollbar { 
    display: none; 
}
#options{
	float:right;
	width:27%;
	margin-right:1vw;
	margin-top:1vh;
	margin-bottom:1vh;
	height: 98vh;
	overflow-y: scroll;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	right: -100%;
	transition:0.5s;
	position:relative;
}
#options::-webkit-scrollbar { 
    display: none; 
}
.item{
	width: 100%;
	height: 15%;
	background: -webkit-linear-gradient(90deg, rgba(180,180,180,1) , rgba(222,222,222,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(180,180,180,1) , rgba(222,222,222,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(180,180,180,1) , rgba(222,222,222,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, rgba(180,180,180,1) , rgba(222,222,222,0)); /* Standard syntax (must be last) */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#000;
	font-size: 200%;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.item:first-child{
	margin-top:25%;
}
.item:last-child{
	margin-bottom:25%;
}

.item:not(:last-child){
	margin-bottom:0.5%;
}
.item:hover, .item:active{
	color:#fff;
	background: -webkit-linear-gradient(90deg, rgba(255,213,49,1) , rgba(222,222,222,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(255,213,49,1) , rgba(222,222,222,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(255,213,49,1) , rgba(222,222,222,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, rgba(255,213,49,1) , rgba(222,222,222,0)); /* Standard syntax (must be last) */
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.item>p{
	margin:0;
	width: 40%;
	height:40%;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top:1%;
}
.item>.product{
	margin:0!important;
	font-size: 50%!important;
	height:15%;
	float:left;
}
.image{
	height:100%;
	float: left;
}
.image>img{
	height: 100%;
	width: auto;
}
.price{
	float:right;
	margin-right:1%;
	position: relative;
    top: 50%;
	transform: translate(0, -50%);
}
#reserve{
	margin-top:22.5vh;
}
form{
	margin:0;
	width:100%;
	height:10%;
	margin-bottom:5%;
}
form>button{
	width:100%;
	height:100%;
	margin:0;
}
button{
	width:100%;
	height:10%;
	background-color:rgba(255,213,49,1);
	color:#000;
	font-size:200%;
	border-width: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	cursor:pointer;
	margin-bottom:5%;
}
/* button:not(:last-child){
	margin-bottom:5%;
} */
button:hover,button:active, .info:hover,.info:active{
	background-color:#000;
	color:rgba(255,213,49,1)!important;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
/* button:first-child{
	margin-top:22.5vh;
} */
.cancel{
	background-color:rgba(120,34,25,1);
	color:#fff;
	margin-bottom:0;
}
<<<<<<< HEAD
.cancel:hover, .cancel:active , .container .closebar:hover, .container .closebar:active, .delete:hover, .delete:active{
=======
.cancel:hover, .cancel:active , #container .closebar:hover, #container .closebar:active, .delete:hover, .delete:active{
>>>>>>> FETCH_HEAD
	color:rgba(120,34,25,1)!important;
	background-color:#fff;
}
.dial{
	background-image:url('../images/Dial.png');
	background-repeat:no-repeat;
	background-size: 100px 100px;
	padding: 30px 40px;
	color:rgba(255,213,49,1);
	position:relative;
	top:40%;
}
.info,.delete{
	float:right;
	cursor:pointer;
	background-color: rgba(255,213,49,1);
	height:100%;
	width:10%;
	text-align:center;
	transition: 0.5s;
}
.info{
	color:#000!important;
}
.delete{
	background-color: rgba(120,34,25,1);
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	color:#fff;
}
.info>div, .delete>div{
	position: relative;
    top: 50%;
    left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

/* .info:hover,.info:active{
	color: rgba(255,213,49,1);
	background-color:#000;
	transition: 0.5s;
} */
<<<<<<< HEAD
.container{
=======
#container{
>>>>>>> FETCH_HEAD
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.8);
	transition:0.5s;
	display:none;
<<<<<<< HEAD
	z-index: 110;
}
.container>div{
=======
}
#container>div{
>>>>>>> FETCH_HEAD
	width:75%;
	height:75%;
	position:relative;
	top:12.5%;
	left:12.5%;
	background-color:#2c2c2c;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#fff;
	font-size:200%;
}
<<<<<<< HEAD
.container .topbar{
=======
#container .topbar{
>>>>>>> FETCH_HEAD
	height:10%;
	width:90%;
	background-color:rgba(255,213,49,1);
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	
}
<<<<<<< HEAD
.container .topbar>div{
=======
#container .topbar>div{
>>>>>>> FETCH_HEAD
	position:relative;
	top: 25%;
	color:#000;
}
<<<<<<< HEAD
.container .topbar>div>i{
	float:left;
}
.topbarextended{
	width:100%!important;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	text-align:center;
	height:20%!important;
	
}
.topbarextended p{
	position: relative;
	font-size:100%;
}
#container2>div{
	height:40%;
}

.close{
	width:98%;
	height:73%;
	margin:1%!important;
}
.container .closebar{
=======
#container .topbar>div>i{
	float:left;
}
#container .closebar{
>>>>>>> FETCH_HEAD
	width:10%;
	height:100%;
	background-color:rgba(120,34,25,1);
	color:#fff;
	float:right;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	transition:0.5s;
	cursor:pointer;
}
<<<<<<< HEAD
.container .goToItem{
=======
#container .goToItem{
>>>>>>> FETCH_HEAD
	width:10%;
	height:100%;
	background-color:#3c3432;
	color:#fff;
	transition:0.5s;
	cursor:pointer;
	float:right;
}
<<<<<<< HEAD
.container .goToItem:hover, .container .goToItem:active{
=======
#container .goToItem:hover, #container .goToItem:active{
>>>>>>> FETCH_HEAD
	background-color:#fff;
	color:#3c3432;
	transition:0.5s;
}
<<<<<<< HEAD
.container .closebar>div, .container .goToItem>div{
=======
#container .closebar>div, #container .goToItem>div{
>>>>>>> FETCH_HEAD
	position:relative;
	top: 50%;
	text-align:center;
}
<<<<<<< HEAD
.container .goToItem>div>div{
	width:50%;
	float:left;
}
.container #inputText{
=======
#container .goToItem>div>div{
	width:50%;
	float:left;
}
#container #inputText{
>>>>>>> FETCH_HEAD
	width: 80%;
	float:left;
	margin:0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
<<<<<<< HEAD
.container #image{
=======
#container #image{
>>>>>>> FETCH_HEAD
	height:90%;
	width:25%;
	float:left;
}
<<<<<<< HEAD
.container #image>img{
=======
#container #image>img{
>>>>>>> FETCH_HEAD
	margin-top:35%;
	height:50%;
	width:auto;
}
<<<<<<< HEAD
.container #description{
=======
#container #description{
>>>>>>> FETCH_HEAD
	float:right;
	width:55%;
	height:90%;
	color:#fff;
	font-size:100%;
}
<<<<<<< HEAD
.container #description>div{
	width:90%;
	height:90%;
	padding:5%;
}
#quantityImg{
	position:relative;
	float:left;
}
#quantityContainer{
	height: 150px;
	width: 150px;
	position: absolute;
	float: left;
	left: 45%;
	/*margin-top: 0.5vh;*/
=======
#container #description>div{
	width:90%;
	height:90%;
	padding:5%;
>>>>>>> FETCH_HEAD
}