.item {
    cursor: pointer;
    float: left;
    height: 30%;
    margin-left: 2%;
    margin-top: 1%;
    text-align: center;
    width: 14%;
}

.item:nth-of-type(6n+1) {
    clear: both;
}

.item img {
    height: auto;
    margin: 0 auto;
    width: 70%;
}

.item-price {
    margin-top: 0.2em;
}

.start-area {
    bottom: 3%;
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
}

.start-area .btn-touchable {
    margin-top: 5%;
}
