/*	PC = Product Colour	*/

.redPC {	background-color: #F00; }

.bluePC {	background-color: #00F; }

.greenPC {	background-color: #0F0; }

.blackPC {	background-color: #000; }

.darkgreyPC {	background-color: #333; }

.greyPC {	background-color: #AAA; }

.lightgreyPC {	background-color: #DDD; }

<<<<<<< HEAD
.creamPC {	background-color: #EFEBE9; }

.navyPC {	background-color: #0D47A1; }

.multiPC {	
	
	background: -webkit-linear-gradient(left, #F44336, #FF9800, #FFEB3B, #4CAF50, #2196F3, #3F51B5, #673AB7);
	background: -o-linear-gradient(right, #F44336, #FF9800, #FFEB3B, #4CAF50, #2196F3, #3F51B5, #673AB7);
	background: -moz-linear-gradient(right, #F44336, #FF9800, #FFEB3B, #4CAF50, #2196F3, #3F51B5, #673AB7);
	background: linear-gradient(to right, #F44336, #FF9800, #FFEB3B, #4CAF50, #2196F3, #3F51B5, #673AB7);
	
}
=======
.creamPC {	background-color: #EFEBE9; }
>>>>>>> FETCH_HEAD
