body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
 	height:100%;
    
}
#backButton{
	background-color:rgb(255, 204, 0);
	width:100%;
	border-radius:2px;
	text-align:center;
	font-weight:bold;
	height:60px;
	font-size:20pt;
    margin: 0 auto;
    cursor: pointer;
    line-height: 60px;
}

.productI{
	height:160px;
	padding:2px;
	width:120px;
	float:left;
}
.itemI{
	padding:2px;
	width:350px !important;
	display:block;
	float:left;
	border:1px solid black;

}

.quantityI{
	text-align:center;
	font-size:1.4em !important;

}

.subtotalI div{
	font-size:1.4em !important;
	font-weight:bold !important;
}

.info{
	color:white;
}
.basketFooter{
	font-size:1.4em !important;
	background-color:rgb(44,44,44) !important;
	font-weight:bold !important;
	text-align:right !important;
	color:white !important;
}

#basketItems{
	width:10000px;
	color:black;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid;

}
#itemsBar{
	float:left;
}
#basketContainer{
	height:99%;
	width:100%;
	overflow:scroll;

}
.addBasket:hover{
	color:white;
	background-color:#1f1f1f;
}
.addBasket{
	background-color:rgb(255, 204, 0);
    cursor: pointer;
	font-size:20pt;
	border-radius:4px;
	padding:2px;
	width:100%;
	font-weight:bold;
	color:black;
	height:35px;
}
* > .addBasket:first-of-type {
    position: relative;
    top: -5px;
}
.clothesInfo{
	background-color:#1f1f1f;
	width:100%;
	font-size:16pt;
	border:1px solid white;
	color:#fff;
	text-align:center;
}


.Categories{
	padding-top:10px;
	background-color:#1F1F1F;
	text-align:center;
	font-size:120%;
	font-variant:capitalize;
	width:300px;
	height:85%;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	float:left;
	color:white;
	border-radius:5px;
    cursor: pointer;
}
.Categories:hover{
	background-color:white !important;
	color:black;
}

.SubCategories{
 	padding-top:10px;
 	background-color:#1F1F1F;
	text-align:center;
	font-size:1.1em;
	width:300px;
	height:90%;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:5px;
	color:white;
	float:left;
	border-radius:5px;
    cursor: pointer;
}
.SubCategories:hover{
	background-color:white !important;
	color:black;
}

.SubSubCategories{
 	padding-top:5px;
 	background-color:#1F1F1F;
	text-align:center;
	font-size:1.1em;
	width:300px;
	height:90%;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:5px;
	color:white;
	float:left;
	border-radius:5px;
    cursor: pointer;
}
.SubSubCategories:hover{
	background-color:white !important;
	color:black;
}
.SubCategorySelection{
	text-align:center;
	font-size:0.6em;
	height:420px;
	box-shadow:0px 0px 3px 3px #ffffff;
	margin-top:20px;
	margin-left:10px;
	margin-right:20px;
	float:left;
	background-color:white;
	border-radius:5px;
}
.SubCategorySelection img{
	width:80%;
	height:auto;


}




#main{
	
	height:auto;
	background-color:inherit !important;
	position:fixed;
	top: 0;
    padding-top:100px;
    left:0;
    width:100%;
    height:100%;
}

.inner_wrapper{
	height:95%;
}

::-webkit-scrollbar {
    display: none;
}


.outer_wrapper {
    overflow: scroll;
    width:100%;
    height:60px;
	margin-left:250px;
	font-size:1.5em;
	font-variant:capitalize;


}
.outer_wrapper_large {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top:10px;
    width:100%;
    height:650px;
	margin-left:250px;


    /*box-shadow:1px 1px 1px 1px #000000;*/
}
.outer_wrapper_small {
    overflow: scroll;

    width:100%;
    height:50px;
	margin-left:250px;
	font-size:1.3em;
	
	margin-top: 10px;

}
.outer_wrapper_smaller {
    overflow: scroll;

    width:100%;
    height:40px;
	margin-left:250px;
	font-size:1.3em;
	
	margin-top: 10px;

}



div.label1{

	margin-left:25%;
	text-align:center;
	font-size:4.5em;
	opacity:0.2;
	float:left;

}




/* Categories*/
#categories {
    width:3000px; /* If you have more elements, increase the width accordingly */


}

/* Subcategory*/
.outer_wrapper_small #sub_categories{
    width:5000px; /* If you have more elements, increase the width accordingly */
}
/* Sub sub category*/
.outer_wrapper_smaller #sub_categories_sub{
    width:6500px; /* If you have more elements, increase the width accordingly */


}

/* Subcategory Selection 1*/
.outer_wrapper_large #selection  {
    width:8000px; /* If you have more elements, increase the width accordingly */


}
#bottomBar{
	height:230px;
	width:87%;
	position:fixed;
	bottom:50px;
	left:250px;

	border-radius:4px;

}
#inner{

	height:100%;

	text-align:center;
	border-radius:2px;


}
#basketBar{


	width:20%;
	font-size:12pt;

	float:right;

	height:100%;
	display: table;
	position:relative;



}
#innerButtons{
	display: table-cell;
    vertical-align: middle;


}
.recommendBox{
	background-color:inherit;
	color:#3c3432;
	font-size:1.4em;
	border-width: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height:200px;
	padding-top:auto;
	padding-bottom:auto;
	text-align:center;
	width: 99%;
	margin-top: 5px;
}
.recommendBox img{
	height:100%;
	width:100%;
}

.bottomBarLeft{
	float:left;
	text-align:center;
}
.bottomBarRight{
	float:left;
	font-size:1.0em;
	width:220px;
	border-radius:2px;
}

table#ItemDetails td{
	background-color:rgb(31,31,31) !important;

}
table#ItemDetails{
	width:100% !important;
	border:none;
	color:white;
	text-align:center !important;
	height:100%;
}
#topBar{
	height:50px;
	width:100%;
	margin-bottom:10px;
}
#sideBar {
	position:fixed;
	margin-top:100px;
	margin-right:20px;
	top:0;
	left:10px;
	float:left;
	width:230px !important;
}

.blend2{
    background: #3C3432; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #3C3432 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#3C3432)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#3C3432 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#3C3432 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#3C3432 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#3C3432 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3C3432',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	
}

.sideCategories{
	height:450px !important;
	width:100%;
	background-color:white;
	box-shadow:0px 0px 5px 5px #000000;
}

#GeorgeImgDiv img{
	height:100%;
}
.mini_text{
	margin-left:5px;
	font-size:0.7em;
}

#GeorgeImgDiv{
	height:100%;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:100% !important;
}

#Scroll{
	overflow:scroll;
	width:100% !important;
	position:relative;
}
#outfit_header{

	height:250px;
	display:inline-block;
	width:100%;
	text-align:center;
	font-size:1.0em;
	color:white;
	border-radius:5px;
	overflow:scroll;
	margin-top:10px;

	background-color:rgb(31, 31, 31);
}
.outfit{
	background-color:rgba(44,44,44);
	color:white;
	margin-top:10px;
	font-size:1.4em;
	text-align:center;
	width: 99%;
	padding-left:2px;
	border:1px solid #333;
	display:inline-block;

}
.outfitName{
	text-align:center;
	float:left;
}

.outfitBin{
	text-align:center;
	float:right;
    color: #B71C1C;
}

.side_title{
	background-color:rgb(255, 204, 0);
	color:black;
	text-align:center;
	width: 100%;
	font-size:17pt;
	font-weight:bold;
	height: 40px;
	line-height: 40px;
}
#rec_header{
	height:500px;
	background-color:rgb(31, 31, 31);
	width:100%;
	text-align:center;
	font-size:1.0em;
	color:white;
	border-radius:5px;
	margin-top:20px;
	overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.ScrollInner1{
	width:1500px;
}
.ScrollInner2{
	width:1500px;
}
.ScrollInner1 div{
	margin-top:3%;
	margin-left:10px;
	text-align:center;
	height:25px !important;
	width:25px !important;
	font-weight:bold;
	font-size:1.2em;
	background-color:#2C2C2C;
	float:left;
	color:white;
}
.ScrollInner2 div{
	margin-left:10px;
	text-align:center;
	height:25px !important;
	width:25px !important;
	font-weight:bold;
	font-size:1.2em;
	background-color:#FFF888;
	float:left;
}

a {
    color: inherit;
    text-decoration: none;
}

/*
* Hide Highlighting
*/

::selection {
  background: none;
}
::-moz-selection {
  background: none;
}
::-webkit-selection {
  background: none;
}

