
.info{
	color:white;
}

#basketItems{
	width:98%;
	color:#333;
	margin-left:auto;
	margin-right:auto;
	
	
		
}
tbody {
 
 overflow: auto;
}

#basketItems span{
	font-size:8pt;
	background-color:rgba(255,213,49,1);
	color:#3c3432;
	border-width: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radimargin-top:autus: 4px;
	height:50px;
	padding:4px;
	text-align:center;
	width: 200px;
	margin-top: 5px;
}

#basketItems th{
	border:2px solid rgb(44,44,44);
	border-top:none;
	text-align:center;
	font-size:20pt;
}

#basketItems td{
	border:2px solid rgb(44,44,44);
	border-bottom:none;
	border-top:none;
	text-align:center;
	height:30px;
	font-size:14pt;
}

#itemsBar{
	float:left;
}
#basketContainer{
	
	height:80%;
	
	float:left;
	width:80%;
	overflow:scroll;
	
}

.addBasket{
	background-color:black;
	font-size:12pt;
	border-radius:2px;
	padding:2px;
	width:100%;
	font-weight:bold;
	color:white;
	border-radius:5px;
	height:25px;

}

.viewProduct{
	background-color:rgba(120,34,25,1);
	font-size:12pt;
	border-radius:2px;
	padding:2px;
	width:100%;
	font-weight:bold;
	color:white;
	border-radius:5px;
	height:25px;

}
.itemContainer{
	
	background-color:#1f1f1f;
}
.clothesInfo{
	width:100%;
	font-size:16pt;
	border:1px solid white;
	
	color:#fff;
	border-width: 0px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	padding:auto;
}
.buy{
	background-color:rgba(255,213,49,1);
	color:#3c3432;
	font-size:150%;
	border-width: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radimargin-top:autus: 4px;
	height:50px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	width: 200px;
	margin-top: 5px;

}
.clear{
	background-color:rgba(120,34,25,1);
	color:#fff;
	font-size:150%;
	border-width: 0px;
	height:50px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	padding-left:0px;
	padding-right:0px;
	text-align:center;
	width: 200px;
	margin-top: 10px;
}

.Categories{
	padding-top:10px;
	background-color:#1F1F1F;
	text-align:center;
	font-size:120%;
	font-variant:capitalize;
	width:300px;
	
	height:85%;
	margin-top:5px;
	margin-bottom:2px;
	margin-left:5px;
	float:left;
	color:white;
	border-radius:5px;
	


}
.Categories:hover{
	background-color:white !important;
	color:black;
}

.SubCategories{
 	padding-top:10px;
 	background-color:#1F1F1F;
	text-align:center;
	font-size:1.1em;
	width:300px;

	height:90%;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:5px;
	color:white;
	float:left;
	border-radius:5px;

}
.SubCategories:hover{
	background-color:white !important;
	color:black;
}

.SubSubCategories{
 	padding-top:5px;
 	background-color:#1F1F1F;
	text-align:center;
	font-size:1.1em;
	width:300px;
	height:90%;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:5px;
	color:white;
	float:left;
	border-radius:5px;

}
.SubSubCategories:hover{
	background-color:white !important;
	color:black;
}
.SubCategorySelection{
	text-align:center;
	font-size:0.6em;
	width:450px;
	
	border:1px solid #ddd;
	box-shadow:0px 0px 3px 3px #ffffff;
	margin-top:20px;
	height:80%;
	margin-left:10px;
	margin-right:20px;
	float:left;
	background-color:white;
	border-radius:5px;
}
.SubCategorySelection img{
	width:80%;
	height:auto;


}




#main{
	<!-- margin-left:200px; -->
	height:100%;
	background-color:inherit !important;
	position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.inner_wrapper{
	height:95%;
}

::-webkit-scrollbar {
    display: none;
}


.outer_wrapper {
    overflow: scroll;
    width:100%;
    height:60px;
	margin-left:250px;
	font-size:1.5em;
	font-variant:capitalize;


}
.outer_wrapper_large {
    overflow: scroll;
    margin-top:5px;
    width:100%;
    height:760px;
	margin-left:250px;


    /*box-shadow:1px 1px 1px 1px #000000;*/
}
.outer_wrapper_small {
    overflow: scroll;

    width:100%;
    height:50px;
	margin-left:250px;
	font-size:1.3em;

}
.outer_wrapper_smaller {
    overflow: scroll;

    width:100%;
    height:40px;
	margin-left:250px;
	font-size:1.3em;

}



div.label1{

	margin-left:25%;
	text-align:center;
	font-size:4.5em;
	opacity:0.2;
	float:left;

}




/* Categories*/
#categories {
    width:3000px; /* If you have more elements, increase the width accordingly */
	
	
}

/* Subcategory*/
.outer_wrapper_small #sub_categories{
    width:5000px; /* If you have more elements, increase the width accordingly */
}
/* Sub sub category*/
.outer_wrapper_smaller #sub_categories_sub{
    width:6000px; /* If you have more elements, increase the width accordingly */
	

}

/* Subcategory Selection 1*/
.outer_wrapper_large #selection  {
    width:8000px; /* If you have more elements, increase the width accordingly */


}
#bottomBar{
	height:270px;
	width:87%;
	position:fixed;
	bottom:40px;
	left:250px;
	box-shadow:0px 0px 2px 4px #333; 
	border-radius:4px;

}
#inner{
	
	height:100%;
	
	text-align:center;
	border-radius:2px;
	
	
}
#basketBar{

	
	width:20%;
	font-size:12pt;
	
	float:right;

	height:100%;
	display: table;
	position:relative;
	
	

}
#innerButtons{
	display: table-cell;
    vertical-align: middle;
	
	
}
.recommendBox{
	background-color:white;
	color:#3c3432;
	font-size:1.4em;
	border-width: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height:200px;
	padding-top:auto;
	padding-bottom:auto;
	text-align:center;
	width: 99%;
	margin-top: 5px;
}
.recommendBox img{
	height:100%;
	width:100%;
}

.bottomBarLeft{
	padding:2%;
	height:35px;
	margin-bottom:10px;
	font-size:1.3em;
	border-radius:5px;

	color:#FFD530;

}
.bottomBarRight{
	padding:2%;
	height:35px;
	font-size:1.3em;
	border-radius:5px;
	color:red;
}
#topBar{

	height:50px;
	width:100%;

	margin-bottom:10px;



}
#sideBar {

	position:fixed;
	margin-top:50px;
	margin-right:20px;
	top:0;
	left:10px;
	float:left;
	width:230px !important;
	
	



}

.blend2{
	background-repeat: no-repeat;
background-attachment: fixed;
background: #3c3432;
background: -moz-radial-gradient(center, ellipse cover, #3c3432 1%, #000000 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#3c3432), color-stop(100%,#000000));
background: -webkit-radial-gradient(center, ellipse cover, #3c3432 1%,#000000 100%);
background: -o-radial-gradient(center, ellipse cover, #3c3432 1%,#000000 100%);
background: -ms-radial-gradient(center, ellipse cover, #3c3432 1%,#000000 100%);
background: radial-gradient(ellipse at center, #3c3432 1%,#000000 100%);
height:100%;
}

.sideCategories{

	height:450px !important;


	width:100%;

	/* Keep */
	background-color:white;
	box-shadow:0px 0px 5px 5px #000000;
}

#GeorgeImgDiv img{
	height:100%;
}
.mini_text{
	margin-left:5px;
	font-size:0.7em;
}

#GeorgeImgDiv{
	height:100%;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:100% !important;
}

#Scroll{
	overflow:scroll;
	width:100% !important;
	position:relative;




}
#outfit_header{
	height:500px;
	width:100%;
	text-align:center;
	font-size:1.0em;
	color:white;
	border-radius:5px;
	overflow:auto;
	
	background-color:rgb(31, 31, 31);
}
.outfit{
	background-color:rgba(44,44,44);
	color:white;
	margin-top:10px;
	font-size:1.4em;
	text-align:center;
	width: 99%;
	padding-left:2px;
	border:1px solid #333;
	display:inline-block;

}
.outfitName{
	
	
	text-align:center;
	float:left;
	
}

.outfitBin{
	text-align:center;
	float:right;
	color:#333;
}

.side_title{
	background-color:rgb(255, 204, 0);
	color:black;
	
	text-align:center;
	width: 100%;
	font-size:15pt;
	font-weight:bold;
	
	
	
}
#rec_header{

	height:500px;
	background-color:rgb(31, 31, 31);
	width:100%;
	text-align:center;
	font-size:1.0em;
	color:white;
	border-radius:5px;

	overflow:auto;


}

.ScrollInner1{

	width:1500px;


}
.ScrollInner2{

	width:1500px;
}
.ScrollInner1 div{

	margin-top:3%;
	margin-left:10px;
	text-align:center;
	height:25px !important;
	width:25px !important;
	font-weight:bold;
	font-size:1.2em;
	background-color:#2C2C2C;
	float:left;
	color:white;
}
.ScrollInner2 div{

	margin-left:10px;
	text-align:center;
	height:25px !important;
	width:25px !important;
	font-weight:bold;
	font-size:1.2em;
	background-color:#FFF888;
	float:left;
}

