body {
	
	margin: 0 auto;
	
	height: 100%;
	width: 100%;
	
}

#headerWrapper {
	
	position: absolute;
	top: 0%;
	left: 0%;
	
	height: 15%;
	width: 100%;
	
	background-color: lightgrey;
	
}

#productContent {
	
	position: absolute;
	top: 15%;
	left: 0%;
	
	height: 85%;
	width: 100%;
	
}