html, body {
    height: 100%;   
}
body {
    background: #3C3432; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #3C3432 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#3C3432)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#3C3432 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#3C3432 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#3C3432 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#3C3432 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3C3432',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main-area {
    height: 80%;
    left: 5%;
    position: fixed;
    top: 10%;
    width: 90%;    
}

.btn-touchable {
    cursor: pointer;
    height: 48px;
    min-width: 88px;
    padding: 0 4px;
}

.btn-touchable > .btn {
    background-color: #FFCC00;
    display: inline-block;
    font-size: 1.25em;
    line-height: 36px;
    min-height: 36px;
    padding: 0 8px;
    position: relative;
    top: 6px;
    text-align: center;
}

.outfit-area, 
.basket-area {
    bottom: 20%;
    position: absolute;
    width: 20%;    
}

.outfit-area {
    left: 10%;    
}

.basket-area {
    right: 10%;
}

.basket, .outfits {
    display: none;
    position: absolute;
    bottom: 42px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    width: 90%;
}

.basket-item,
.outfit-item {
    background-color: #2C2C2C;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    padding: 6% 5%;
    overflow: hidden;
    vertical-align:middle;
}

.basket-item>.left,
.outfit-item>.left {  
    float: left;
    text-overflow: ellipsis;
    transform: translateY(20%);
    overflow: hidden;
    width: 65%;
    white-space: nowrap;
}

.basket-item>.right,
.outfit-item>.right {  
    float: right;
    font-size: 1.25em;
    text-align: center;
    width: 35%;
}

.basket-item:not(:last-of-type),
.outfit-item:not(:last-of-type){
    border-bottom: 2px solid #1F1F1F;
}

.basket-item:hover,
.outfit-item:hover {
    background-color: #1F1F1F;
}

.basket-btn,
.outfit-btn {
    bottom: 0;    
    position: absolute;
    transform: translateX(50%);
    transition: width 5s;
    right: 50%;
}

.basket-area .basket-btn>.btn>.inner:before,
.outfit-area .outfit-btn>.btn>.inner:before {
    font-family: 'ahci';
    float: right;
}

.basket-area .basket-btn>.btn>.inner:after, 
.outfit-area .outfit-btn>.btn>.inner:after {
    font-family: 'ahci';
    float: left;
}

.basket-area>.btn-touchable:hover>.btn>.inner:before,
.outfit-area>.btn-touchable:hover>.btn>.inner:before {
    content:'\e83b';
}

.basket-area.active .basket-btn>.btn>.inner:before,
.outfit-area.active .outfit-btn>.btn>.inner:before {
    content:'\e838';
}

.basket-area>.btn-touchable:hover>.btn>.inner:after,
.outfit-area>.btn-touchable:hover>.btn>.inner:after {
    content:'\e83b';
}

.basket-area.active .basket-btn>.btn>.inner:after,
.outfit-area.active .outfit-btn>.btn>.inner:after {
    content:'\e838';
}

.basket-area>.btn-touchable:hover,
.basket-area.active .btn-touchable,
.outfit-area>.btn-touchable:hover,
.outfit-area.active .btn-touchable {
    box-sizing: border-box;
    min-width: 100%;
}

.basket-area>.btn-touchable:hover > .btn,
.basket-area.active .btn-touchable>.btn,
.outfit-area>.btn-touchable:hover > .btn,
.outfit-area.active .btn-touchable>.btn {
    box-sizing: border-box;
    min-width: 100%;
}

.outfit-management-area {
    bottom: 5%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: 20%;    
}

.outfit-management-area input {
    background-color: transparent;
    border-style: none none dotted none;
    font-size: 1.25em;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

.outfit-management-area span:after {
    font-family: 'ahci';
    font-size: 1.25em;
    height: 1.25em;
    line-height: 1.25em;
    margin-left: 1%;
    text-align: center;
    width: 1.25em;
}

.outfit-management-area span.saved:after {
    content: '\e80b';
}

.outfit-management-area span.saving:after {
    -webkit-animation: saving 1s linear 0s infinite forwards; /* Chrome, Safari, Opera */
    animation: saving 1s linear 0s infinite forwards;
    content: '\e85c';
}

/* Chrome, Safari, Opera */
@-webkit-keyframes saving {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Standard syntax */
@keyframes saving {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}